<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="text-align:center; background-color:#dff1eb" >
    <p style="text-align:center">
        <table id ="la" align="center" border="1">
           <tr style="background-color:#ffffff; border:thin">
                <td>@Html.ActionLink("ПРОДУКТЫ ", "Index", "Product")</td>
                <td>@Html.ActionLink("КЛИЕНТЫ ", "Index", "Customer")</td>
                <td>@Html.ActionLink("ЗАКАЗЫ ", "Index", "Order")</td>
                <td>@Html.ActionLink("ОТЧЕТ ПО ЗАКАЗАМ", "Index", "ReportDate")</td>
            </tr>
        </table>
        

      

     

    


        @RenderBody()


        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </p>
</body>
</html>
