@model Estore.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Товар</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProductName)
    </div>
   
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductName)
    </div>



    





    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductPrice)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ProductDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ProductDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateOfAdding)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateOfAdding)
    </div>
</fieldset>



<p>
    @Html.ActionLink("Редактировать товар", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Все товары", "Index")
</p>
