@model IEnumerable<Estore.Models.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>КЛИЕНТЫ</h2>

<p>
    @Html.ActionLink("ДОБАВИТЬ НОВОГО КЛИЕНТА", "Create")
</p>
<table align="center" border="1" draggable="false">
    <tr>
        <th>
            @Html.ActionLink("Имя ", "Index", new { sortOrder = ViewBag.FirstNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Фамилия ", "Index", new { sortOrder = ViewBag.LastNameSortParm })
        </th>
        <th>
            @Html.ActionLink("Дата регистрации ", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </th>
        <th>Действия</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerLatName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
